<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FeedMe · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script>
      (() => {
        const payload = {
          feed: {
            name: 'Frontend Focus',
            url: 'https://cprss.s3.amazonaws.com/frontendfoc.us.xml',
            description: 'A once–weekly roundup of the best front-end news, articles and tutorials. HTML, CSS, WebGL, Canvas, browser tech, and more.'
          }
        }

        fetch("/subscription", {
          method: 'POST',
          body: JSON.stringify(payload),
          headers: {
            'Content-Type': 'application/json'
            // 'X-CSRF-TOKEN': document.querySelector('input[name="_csrf_token"]').value
          }
        })
          .then((resp) => resp.json())
          .then((data) => {
            console.log(data);
          });
      })();
    </script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <%= if @conn.assigns[:user] do %>
            <%= link "Logout", to: Routes.auth_path(@conn, :logout) %>
          <% else %>
            <%= link "Login to Github", to: Routes.auth_path(@conn, :request, "github") %>
          <% end %>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
